<section id="section-hero" class="hero">
  <div class="container">
    <div class="hero-cont">
      <div class="hero-title-cont">
        <h1 class="hero-title">
          Welcome to our <span class="hero-title-span">collection </span> of
          premium watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-pers">
        <div class="hero-image-stack">
          <picture>
            <source
              srcset="
                /img/hero/hero_person1_mob@1x.jpg 1x,
                /img/hero/hero_person1_mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /img/hero/hero_person1_tab@1x.jpg 1x,
                /img/hero/hero_person1_tab@2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                /img/hero/hero_person1_desk@1x.jpg 1x,
                /img/hero/hero_person1_desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <img
              src="/src/img/hero/hero_person1_mob@1x.jpg"
              alt="blond-woman"
            />
          </picture>
          <picture>
            <source
              srcset="
                /img/hero/hero_person2_mob@1x.jpg 1x,
                /img/hero/hero_person2_mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /img/hero/hero_person2_tab@1x.jpg 1x,
                /img/hero/hero_person2_tab@2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                /img/hero/hero_person2_desk@1x.jpg 1x,
                /img/hero/hero_person2_desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <img
              src="/src/img/hero/hero_person2_mob@1x.jpg"
              alt="man-glasses"
            /> </picture
          ><picture>
            <source
              srcset="
                /img/hero/hero_person3_mob@1x.jpg 1x,
                /img/hero/hero_person3_mob@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <source
              srcset="
                /img/hero/hero_person3_tab@1x.jpg 1x,
                /img/hero/hero_person3_tab@2x.jpg 2x
              "
              media="(min-width: 768px) and (max-width: 1279px)"
            />
            <source
              srcset="
                /img/hero/hero_person3_desk@1x.jpg 1x,
                /img/hero/hero_person3_desk@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />

            <img
              src="/src/img/hero/hero_person3_mob@1x.jpg"
              alt="glasses-woman"
            />
          </picture>
        </div>
        <a href="#footer-id" class="hero-scroll">Scroll down</a>
      </div>
    </div>
    <picture class="hero-main-image">
      <source
        srcset="/img/hero/hero_mob@1x.jpg 1x, /img/hero/hero_mob@2x.jpg 2x"
        media="(max-width: 767px)"
      />
      <source
        srcset="/img/hero/hero_tab@1x.jpg 1x, /img/hero/hero_tab@2x.jpg 2x"
        media="(min-width: 768px) and (max-width: 1279px)"
      />
      <source
        srcset="/img/hero/hero_desk@1x.jpg 1x, /img/hero/hero_desk@2x.jpg 2x"
        media="(min-width: 1280px)"
      />

      <img src="/src/img/hero/hero_mob@1x.jpg" alt="watch-in-the-sky" />
    </picture>
  </div>
</section>
