<div class="mobile-menu-backdrop" id="mobile-menu-backdrop">
  <div class="mobile-menu">
    <button class="close-btn" type="button" id="close-btn">
      <svg width="34" height="34">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <!-- navigation -->
    <ul class="mm-nav">
      <li><a href="#section-hero">Home</a></li>
      <li><a href="#section-about-us">About Us</a></li>
      <li><a href="#section-catalog">Catalog</a></li>
      <li><a href="#section-sale">Sale</a></li>
      <li><a href="#section-reviews">Reviews</a></li>
      <li><a href="#section-contac-us">Contact Us</a></li>
    </ul>
    <!-- socals -->
    <ul class="mm-socials">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg width="20" height="20">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg width="20" height="20">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg width="20" height="20">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
    <!-- end of socials -->
  </div>
</div>
