<div class="mobile-menu-backdrop is-open">
  <div class="mobile-menu">
    <button class="close-btn" type="button">
      <svg class="close-btn-icon" width="34" height="34">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mm-nav">
      <li><a class="mm-nav-link" href="#section-hero">Home</a></li>
      <li><a class="mm-nav-link" href="#section-about-us">About Us</a></li>
      <li><a class="mm-nav-link" href="#section-catalog">Catalog</a></li>
      <li><a class="mm-nav-link" href="#section-sale">Sale</a></li>
      <li><a class="mm-nav-link" href="#section-reviews">Reviews</a></li>
      <li>
        <a class="mm-nav-link" href="#section-contac-us">Contact Us</a>
      </li>
    </ul>

    <ul class="mm-socials">
      <li>
        <a href="https://www.facebook.com/goITclub/" target="_blank">
          <svg width="34" height="34">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/goitclub/" target="_blank">
          <svg width="34" height="34">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://www.youtube.com/c/GoIT" target="_blank">
          <svg width="34" height="34">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
