<section class="section-temp-form">
  <div class="container">
    <form class="contact-form">
      <input
        type="text"
        name="user-name"
        id="user-name"
        class="contact-input"
        placeholder="Name"
        required
      />
      <input
        type="email"
        name="user-email"
        pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})"
        id="user-email"
        class="contact-input"
        placeholder="Email"
        required
      />
      <input
        type="tel"
        name="user-tel"
        pattern="^\+\d{3}-\d{2}-\d{3}-\d{2}-\d{2}$"
        (+380-XX-XXX-XX-XX)
        id="user-tel"
        class="contact-input"
        placeholder="+380"
        required
      />
      <textarea
        name="user-comment"
        id="user-comment"
        class="contact-textarea"
        placeholder="Comment"
        required
      ></textarea>
      <button class="button-send" type="submit">Send</button>
    </form>
  </div>
</section>
