/* Advertisement styles. */
.ad-itself {
  margin: 0 auto;
  padding: 60px 28px;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: #0c0c0c;
  background-image: url('/img/advertisiment/advert_mob@1x.webp');
  border-radius: 28px;
}
@media screen and (min-resolution: 192dpi) {
  .ad-itself {
    background-image: url('/img/advertisiment/advert_mob@2x.webp');
  }
}
.ad-itself > p {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.ad-itself > p > span {
  color: #8f8f8f;
}
.ad-itself > a {
  max-width: 160px;
  min-height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 16px;
  color: #fbfbfb;
}
/* ==================================== TABLET > */
@media screen and (min-width: 768px) {
  .ad-itself {
    padding: 80px 64px;
    max-width: 704px;
    gap: 32px;
    background-image: url('/img/advertisiment/advert_tab@1x.webp');
  }
  .ad-itself > p {
    font-size: 48px;
    line-height: 92%;
  }
  @media screen and (min-resolution: 192dpi) {
    .ad-itself {
      background-image: url('/img/advertisiment/advert_tab@2x.webp');
    }
  }
}
/* ==================================== DESKTOP > */
@media screen and (min-width: 1200px) {
  .ad-itself {
    background-image: url('/img/advertisiment/advert_desk@1x.webp');
  }
  @media screen and (min-resolution: 192dpi) {
    .ad-itself {
      background-image: url('/img/advertisiment/advert_desk@2x.webp');
    }
  }
}
