/* Advertisement styles. */
#section-advertisement {
  padding-top: 60px;
}
.ad-itself {
  margin: 0 auto;
  padding: 60px 28px;
  max-width: 335px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: #0c0c0c;
  background-image: url('/img/advertisiment/advert_mob@1x.webp');
  border-radius: 28px;
}
@media screen and (min-resolution: 192dpi) {
  .ad-itself {
    background-image: url('/img/advertisiment/advert_mob@2x.webp');
  }
}
.ad-itself > p {
  font-weight: 600;
  font-size: 32px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}
.ad-itself > p > span {
  color: rgba(251, 251, 251, 0.5);
}
.ad-itself > a {
  width: 160px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 16px;
  color: #fbfbfb;
  transition: background-color, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ad-itself > a:hover,
.ad-itself > a:focus {
  background-color: #fbfbfb;
  color: #0c0c0c;
}
/* ==================================== TABLET > */
@media screen and (min-width: 768px) {
  #section-advertisement {
    padding-top: 80px;
  }
  .ad-itself {
    padding: 80px 64px;
    max-width: 704px;
    gap: 32px;
    background-image: url('/img/advertisiment/advert_tab@1x.webp');
  }
  @media screen and (min-resolution: 192dpi) {
    .ad-itself {
      background-image: url('/img/advertisiment/advert_tab@2x.webp');
    }
  }
  .ad-itself > p {
    font-size: 48px;
    line-height: 92%;
  }
}
/* ==================================== DESKTOP > */
@media screen and (min-width: 1280px) {
  #section-advertisement {
    padding-top: 100px;
  }
  .ad-itself {
    padding: 83px 80px;
    max-width: 1150px;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('/img/advertisiment/advert_desk@1x.webp');
  }
  @media screen and (min-resolution: 192dpi) {
    .ad-itself {
      background-image: url('/img/advertisiment/advert_desk@2x.webp');
    }
  }
  .ad-itself > p {
    max-width: 690px;
  }
}
