/* Mobile menu styles. */
@keyframes mm-slide {
  from {
    opacity: 0;
    transform: translateX(200%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 20;
  opacity: 0;
  pointer-events: none;
}
.mobile-menu-backdrop.is-open {
  animation: mm-slide 3s 1;
  pointer-events: auto;
}
.mobile-menu-modal {
  padding: 72px 24px 40px 16px;
  width: 200px;
  height: 100%;
  position: absolute;
  overflow: auto;
  background-color: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
